{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "DBConnection": "Host=localhost;Database=postgres;Username=postgres;Password=password"
}